body {background-color: white;}

  .font {
    font-family: "Trebuchet MS";
  }

  p, h1, h3 {
    margin-left: 17%;
    margin-right: 30%;
    width: 80%;
   }

   .margin-pic{
    margin-left: 17%;
    width: 33.33%;
    padding: 5px;
  }

  .column {
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

   h3 {
    margin-left: 17%;
    margin-right: auto;
    width: 960px;
   }

   h1 {
    margin-left: 17%;
    margin-right: auto;
    width: 960px;
   }

   .center {
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  }


  ul {
    font-family: "Trebuchet MS";
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #fcbc31;
    height:98%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
  }

  li a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  .active {
    background-color: rgb(219, 219, 219);
  }




  