body {background-color: white;}

  .font {
    font-family: "Trebuchet MS";
  }

  p {
    margin-left: 17%;
    margin-right: auto;
    width: 960px;
   }

   img {  
    margin: 17%;
    width: 260px;
   }

   h3 {
    margin-left: 17%;
    margin-right: auto;
    width: 960px;
   }

   h1 {
    margin-left: 17%;
    margin-right: auto;
    width: 960px;
   }

   .center {
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #f1f1f1;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
  }




  